# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.4.0'

## Data Preprocessing

### Importing the dataset

In [3]:
dataset = pd.read_csv('E:/Pranav/Portfolio/Github/Machine Learning/Deep Learning/Artificial Neural Network/Churn_Modelling.csv')

### Exploring the dataset

In [4]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
dataset.tail()

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[5 rows x 14 columns]

In [6]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
len(dataset.columns)

14

In [8]:
len(dataset)

10000

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [10]:
dataset.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

### Creating the Dependent and Independent Variables while dropping the unnecessary columns

In [11]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [12]:
#Check
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [13]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [15]:
#Check
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [17]:
#Check
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Feature Scaling

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [19]:
#Check
print(X)

[[ 0.99720391 -0.57873591 -0.57380915 ...  0.64609167  0.97024255
   0.02188649]
 [-1.00280393 -0.57873591  1.74273971 ... -1.54776799  0.97024255
   0.21653375]
 [ 0.99720391 -0.57873591 -0.57380915 ...  0.64609167 -1.03067011
   0.2406869 ]
 ...
 [ 0.99720391 -0.57873591 -0.57380915 ... -1.54776799  0.97024255
  -1.00864308]
 [-1.00280393  1.72790383 -0.57380915 ...  0.64609167 -1.03067011
  -0.12523071]
 [ 0.99720391 -0.57873591 -0.57380915 ...  0.64609167 -1.03067011
  -1.07636976]]

### Splitting the dataset into the Training set and Test set

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Building the ANN

### Initializing the ANN

In [21]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [22]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [23]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [24]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Training the ANN

### Compiling the ANN

In [25]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [26]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 964us/step - loss: 0.5816 - accuracy: 0.7878
Epoch 2/100
250/250 [==============================] - 0s 990us/step - loss: 0.4748 - accuracy: 0.7950
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4447 - accuracy: 0.7976
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4394 - accuracy: 0.7961
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4273 - accuracy: 0.8020
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4104 - accuracy: 0.8088
Epoch 7/100
250/250 [==============================] - 0s 951us/step - loss: 0.4030 - accuracy: 0.8175
Epoch 8/100
250/250 [==============================] - 0s 969us/step - loss: 0.3984 - accuracy: 0.8185
Epoch 9/100
250/250 [==============================] - 0s 925us/step - loss: 0.4149 - accuracy: 0.8134
Epoch 10/100
250/250 [==============================] - 0s 973us/step - loss: 0.3890 - accuracy: 0.8282
Epoch 11/100
250/250 [==============================] - 0s 957us/step - loss: 0.3858 - accuracy: 0.8327
Epoch 12/100
250/250 [==============================] - 0s 964us/step - loss: 0.3819 - accuracy: 0.8390
Epoch 13/100
250/250 [==============================] - 0s 934us/step - loss: 0.3755 - accuracy: 0.8425
Epoch 14/100
250/250 [==============================] - 0s 955us/step - loss: 0.3797 - accuracy: 0.8424
Epoch 15/100
250/250 [==============================] - 0s 968us/step - loss: 0.3724 - accuracy: 0.8466
Epoch 16/100
250/250 [==============================] - 0s 933us/step - loss: 0.3758 - accuracy: 0.8472
Epoch 17/100
250/250 [==============================] - 0s 932us/step - loss: 0.3669 - accuracy: 0.8486
Epoch 18/100
250/250 [==============================] - 0s 963us/step - loss: 0.3650 - accuracy: 0.8481
Epoch 19/100
250/250 [==============================] - 0s 976us/step - loss: 0.3656 - accuracy: 0.8477
Epoch 20/100
250/250 [==============================] - 0s 926us/step - loss: 0.3786 - accuracy: 0.8411
Epoch 21/100
250/250 [==============================] - 0s 959us/step - loss: 0.3552 - accuracy: 0.8584
Epoch 22/100
250/250 [==============================] - 0s 917us/step - loss: 0.3625 - accuracy: 0.8525
Epoch 23/100
250/250 [==============================] - 0s 916us/step - loss: 0.3612 - accuracy: 0.8537
Epoch 24/100
250/250 [==============================] - 0s 929us/step - loss: 0.3524 - accuracy: 0.8554
Epoch 25/100
250/250 [==============================] - 0s 949us/step - loss: 0.3495 - accuracy: 0.8623
Epoch 26/100
250/250 [==============================] - 0s 925us/step - loss: 0.3367 - accuracy: 0.8731
Epoch 27/100
250/250 [==============================] - 0s 968us/step - loss: 0.3376 - accuracy: 0.8665
Epoch 28/100
250/250 [==============================] - 0s 948us/step - loss: 0.3537 - accuracy: 0.8546
Epoch 29/100
250/250 [==============================] - 0s 956us/step - loss: 0.3540 - accuracy: 0.8615
Epoch 30/100
250/250 [==============================] - 0s 926us/step - loss: 0.3521 - accuracy: 0.8587
Epoch 31/100
250/250 [==============================] - 0s 947us/step - loss: 0.3436 - accuracy: 0.8655
Epoch 32/100
250/250 [==============================] - 0s 926us/step - loss: 0.3516 - accuracy: 0.8582
Epoch 33/100
250/250 [==============================] - 0s 960us/step - loss: 0.3435 - accuracy: 0.8666
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8625
Epoch 35/100
250/250 [==============================] - 0s 919us/step - loss: 0.3494 - accuracy: 0.8663
Epoch 36/100
250/250 [==============================] - 0s 950us/step - loss: 0.3477 - accuracy: 0.8604
Epoch 37/100
250/250 [==============================] - 0s 938us/step - loss: 0.3296 - accuracy: 0.8659
Epoch 38/100
250/250 [==============================] - 0s 915us/step - loss: 0.3415 - accuracy: 0.8666
Epoch 39/100
250/250 [==============================] - 0s 931us/step - loss: 0.3385 - accuracy: 0.8651
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8687
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3514 - accuracy: 0.8587
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8622
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8628
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.8569
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8675
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3231 - accuracy: 0.8721
Epoch 47/100
250/250 [==============================] - 0s 964us/step - loss: 0.3412 - accuracy: 0.8643
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8624
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8611
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8632
Epoch 51/100
250/250 [==============================] - 0s 997us/step - loss: 0.3475 - accuracy: 0.8598
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8656
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8638
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3255 - accuracy: 0.8672
Epoch 55/100
250/250 [==============================] - 0s 973us/step - loss: 0.3296 - accuracy: 0.8684
Epoch 56/100
250/250 [==============================] - 0s 995us/step - loss: 0.3344 - accuracy: 0.8647
Epoch 57/100
250/250 [==============================] - 0s 986us/step - loss: 0.3385 - accuracy: 0.8646
Epoch 58/100
250/250 [==============================] - 0s 949us/step - loss: 0.3472 - accuracy: 0.8602
Epoch 59/100
250/250 [==============================] - 0s 945us/step - loss: 0.3264 - accuracy: 0.8695
Epoch 60/100
250/250 [==============================] - 0s 934us/step - loss: 0.3437 - accuracy: 0.8620
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8597
Epoch 62/100
250/250 [==============================] - 0s 946us/step - loss: 0.3501 - accuracy: 0.8607
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8607
Epoch 65/100
250/250 [==============================] - 0s 971us/step - loss: 0.3385 - accuracy: 0.8618
Epoch 66/100
250/250 [==============================] - 0s 937us/step - loss: 0.3435 - accuracy: 0.8632
Epoch 67/100
250/250 [==============================] - 0s 931us/step - loss: 0.3300 - accuracy: 0.8684
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8663
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8631
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8641
Epoch 71/100
250/250 [==============================] - 0s 987us/step - loss: 0.3451 - accuracy: 0.8587
Epoch 72/100
250/250 [==============================] - 0s 981us/step - loss: 0.3378 - accuracy: 0.8670
Epoch 73/100
250/250 [==============================] - 0s 939us/step - loss: 0.3312 - accuracy: 0.8682
Epoch 74/100
250/250 [==============================] - 0s 966us/step - loss: 0.3306 - accuracy: 0.8668
Epoch 75/100
250/250 [==============================] - 0s 998us/step - loss: 0.3413 - accuracy: 0.8609
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3432 - accuracy: 0.8630
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3265 - accuracy: 0.8683
Epoch 78/100
250/250 [==============================] - 0s 916us/step - loss: 0.3340 - accuracy: 0.8688
Epoch 79/100
250/250 [==============================] - 0s 931us/step - loss: 0.3351 - accuracy: 0.8642
Epoch 80/100
250/250 [==============================] - 0s 961us/step - loss: 0.3288 - accuracy: 0.8698
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8639
Epoch 82/100
250/250 [==============================] - 0s 950us/step - loss: 0.3355 - accuracy: 0.8653
Epoch 83/100
250/250 [==============================] - 0s 995us/step - loss: 0.3312 - accuracy: 0.8649
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3158 - accuracy: 0.8728
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8641
Epoch 86/100
250/250 [==============================] - 0s 972us/step - loss: 0.3282 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 0s 961us/step - loss: 0.3421 - accuracy: 0.8569
Epoch 88/100
250/250 [==============================] - 0s 996us/step - loss: 0.3399 - accuracy: 0.8638
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8586
Epoch 90/100
250/250 [==============================] - 0s 973us/step - loss: 0.3341 - accuracy: 0.8670
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3475 - accuracy: 0.8603
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8629
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8577
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8575
Epoch 95/100
250/250 [==============================] - 0s 995us/step - loss: 0.3386 - accuracy: 0.8561
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3239 - accuracy: 0.8683
Epoch 97/100
250/250 [==============================] - 0s 998us/step - loss: 0.3237 - accuracy: 0.8701
Epoch 98/100
250/250 [==============================] - 0s 966us/step - loss: 0.3325 - accuracy: 0.8687
Epoch 99/100
250/250 [==============================] - 0s 994us/step - loss: 0.3304 - accuracy: 0.8631
Epoch 100/100
250/250 [==============================] - 0s 960us/step - loss: 0.3275 - accuracy: 0.8671

## Making the predictions and evaluating the model

### Predicting the Test set results

In [27]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1520   75]
 [ 196  209]]